<section id="destinations" class="container">
    <h1>Destinations</h1>
    {{#each destinations}}
    {{!-- <a href="/"> --}}
        <div class="gig">
        <h3>{{name}} - {{country}}</h3>
        <p>{{description}}</p>
        </div>
    {{!-- </a> --}}
    {{else}}
        <p>No destination available</p>
    {{/each}}
    
    


</section>