<section id="search" class="search-wrap">
    
    <div class="search-form-wrap">
      <h1>Search a destination</h1>
      <form action="/destinations/search" class="search-form">
        <i class="fas fa-search"></i>
        <input type="search" name="term" placeholder="Country, City, Place, etc...">
        <input type="submit" value="Search">
      </form>
      <h2>And discover the world</h2>

    </div>
    
  </section>
  