<section id="links" class="container">
    <h1>Links</h1>
    {{#each links}}
    {{!-- <a href="/"> --}}
        <div class="gig">
        <h3>Destination id : {{destination_id}}</h3>
        <h3>Agency id : {{agency_id}}</h3>
        <p>some text</p>
        </div>
    {{!-- </a> --}}
    {{else}}
        <p>No link available</p>
    {{/each}}
    
    


</section>